body {
  background: linear-gradient(120deg, #89f7fe, #66a6ff);
}

.card {
  border-radius: 15px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #00ffcc !important;
}
table {
  background-color: white;
}

h2 {
  font-weight: bold;
  text-transform: lowercase;
}
